.main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0D0D0D;
}

.card {
    width: 300px;
    height: 200px;
}

a:link, a:visited {
    color: #0D0D0D;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
}