.main_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0D0D0D;
}

.container {
    display: flex;
    justify-content: space-around;
}

.container a {
    color: white !important;
    text-align: center;
    text-decoration: none;
    font-size: 16px !important;
    background-color: #A34960;
    border-radius: 5pt;
    margin: 5px;
}