.header {
    background-color: #8C2B61;
    font-weight: bold;
    font-size: 40px;
    color: #fcf5f9;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}